// Code.less
// Code typography styles for the <code> and <pre> elements
// --------------------------------------------------------

// Inline and block code styles
code,
pre,
div.lstlisting {
  padding: 0 3px 2px;
  #font > #family > .monospace;
  color: @grayDark;
  .border-radius(3px);
}
code {
  padding: 3px 4px;
//  color: #d14;
  color: @grayDark;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre > code { border: none; }

pre, div.lstlisting {
  white-space:pre;
  display: block;
  padding: (@baseLineHeight - 1) / 2;
  margin: 0 0 @baseLineHeight / 2;
  line-height: @baseLineHeight;
  background-color: #f5f5f5;
  border: 1px solid #ccc; // fallback for IE7-8
  border: 1px solid rgba(0,0,0,.15);
  .border-radius(4px);
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;

  // Make prettyprint styles more spaced out for readability
  &.prettyprint {
    margin-bottom: @baseLineHeight;
  }

  // Account for some code outputs that place code tags in pre tags
  code {
    font-size: 0.8em;
    padding: 0;
    background-color: transparent;
  }
}

// pygments
div.highlight > pre {
  font-size: 0.8em;
}
