pre.hl	{ color:#ffffff; background-color:#005c70; font-size:10pt; font-family:'Courier New';}
.hl.num { color: rgb(224, 26, 112) ; }
.hl.esc { color: rgb(202, 74, 226) ; }
.hl.str { color: rgb(202, 74, 226) ; }
.hl.dstr { color: rgb(202, 74, 226) ; }
.hl.slc { color: rgb(36, 199, 20); }
.hl.com { color: rgb(36, 199, 20); }
.hl.dir { color: rgb(20, 128, 176); }
.hl.opt { color: rgb(77, 77, 77); }
.hl.sym { color: rgb(248, 72, 0); }
.hl.lin { color: rgb(120, 23, 183); }
.hl.kwa { color: rgb(28, 69, 214); }
.hl.kwb { color: rgb(237, 15, 84); }
.hl.kwc { color: rgb(38, 171, 232) ; }
.hl.kwd { color: rgb(28, 69, 214); }
.hl.top { color: rgb(77, 77, 77); }
.hl.std { color: black; }

/* temporary for now, we'll see for merging both later */
code > span.kw { color: #007020; font-weight: bold; }
code > span.dt { color: #902000; }
code > span.dv { color: #40a070; }
code > span.bn { color: #40a070; }
code > span.fl { color: #40a070; }
code > span.ch { color: #4070a0; }
code > span.st { color: #4070a0; }
code > span.co { color: #60a0b0; font-style: italic; }
code > span.ot { color: #007020; }
code > span.al { color: #ff0000; font-weight: bold; }
code > span.fu { color: #06287e; }
code > span.er { color: #ff0000; font-weight: bold; }
