.article-keywords {
    font-style: italic ;
    margin-top: @parMargin * 2;
    margin-bottom: @parMargin;
}

/* .keywords is the class of individual keywords, while
  .article-keywords is the class of the div englobing all keywords.
  */
.keywords {
    display: inline ;
}

.keywords a {
    text-decoration: none;
}

blockquote {
    padding-left: 1em;
    border-left: 2px solid gray;
}

.article-body ul {
    list-style-type: circle;
    margin-left: 1em;
}
.article-body ol {
    margin-left: 1em;
}

/* // to use in case paragraph inside list create trouble
   // (Suggested by Jonathan Protzenko)
li > p {
    display:inline;
}
*/

.link-to-article-body a {
    text-decoration: none;
}
                      

.link-to-article-body :before {
    font-style:italic;
    color: gray;
    content: "Link to full post: ";
}

.ocaml-toplevel {
    font-style: italic;
    color: gray;
}

/* complements gallium.less "#main_iner p" rule for post-paragraph
   margin */
#main_inner p + ul {
    margin-top: -@parMargin;
}
#main_inner p + ol {
    margin-top: -@parMargin;
}


.article-notes {
    border-top: 1px dotted @sectionSepColor;
    border-bottom: 1px dotted @sectionSepColor;
    padding: 1em;
    margin-top: @parMargin;
    margin-bottom: @parMargin;
}


table, th {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    padding: 0.3em;
}