<index
  main="true"
  title="Gagallium"
  stog-site-title="Gagallium"
  stog-site-description="A draft blog at Gallium"
  stog-site-email="gabriel.scherer@inria.fr"
  stog-site-url="http://gallium.inria.fr/~scherer/gagallium/"
  stog-rss-length="10"
>
<header>
<markdown>A blog at [Gallium][]: informal posts about research,
programming practice, [OCaml][] development, and general ramblings.

[gallium]: http://gallium.inria.fr
[ocaml]: http://caml.inria.fr/
</markdown>
</header>
<elements type="post" rss="index.rss" max="10"/>
</index>
