<html>
<include file="html_head.tmpl"><site-title/> : <elt-title/></include>
<body>
<include file="header.tmpl"/>
<div id="main"><div id="main_inner" class="fixed">
    <include file="sidebar.tmpl"/>
    <div id="section"><div id="section_inner">
        <include file="blogpage_navbar.tmpl" />
        
        <div itemscope="" itemtype="http://schema.org/BlogPosting" id="article" class="post">
          <include file="article_header.tmpl"/>
          <div itemprop="articleBody" class="article-body">
            <elt-body/>
          </div>  
          <div class="comments">
            <comments/>
          </div>
        </div>
    </div></div>
    <br class="clear" />
</div></div>
<include file="footer.tmpl" />
</body>
</html>
